@use './_variables' as *;

.health-hero {
  position: relative;
  overflow: hidden;
  min-height: 100svh;

  @media (max-width: 1100px) {
    min-height: max-content;
  }

  .container {
    position: relative;
    display: grid;
    grid-auto-rows: max-content;
    justify-items: center;
    min-height: 100vh;
    padding-top: 110px;
    overflow: hidden;
    padding-bottom: 70px;

    @media (max-width: 1100px) {
      min-height: max-content;
    }
  }

  &__video-filter {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  &__video {
    position: absolute;
    inset: 0;
    width: 100%;
    min-height: 100%;
    object-fit: cover;
    z-index: 1;

    @media (max-width: 750px) {
      min-height: -webkit-fill-available;
    }
  }

  &__subtitle {
    position: relative;
    justify-self: center;
    font-size: 32px;
    font-weight: 200;
    line-height: 110%;
    text-transform: uppercase;
    z-index: 2;

    @media (max-width: 1600px) {
      font-size: 24px;
    }

    @media (max-width: 750px) {
      font-size: 16px;
      margin-bottom: 20px;
    }
  }

  &__info {
    position: relative;
    margin-bottom: 52px;
    text-align: center;
    font-family: "Biryani";
    font-size: 18px;
    font-weight: 600;
    line-height: 120%;
    text-align: center;
    z-index: 2;

    @media (max-width: 1600px) {
      font-size: 16px;
    }

    @media (max-width: 750px) {
      font-size: 14px;
      margin-bottom: 48px;
    }
  }

  &__title {
    position: relative;
    max-width: 650px;
    text-align: center;
    font-size: 68px;
    font-weight: 800;
    line-height: 110%;
    margin-bottom: 32px;
    z-index: 2;

    @media (max-width: 1600px) {
      font-size: 56px;
    }

    @media (max-width: 750px) {
      font-size: 42px;
    }
  }

  &__block-wrap {
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding-top: 120px;
    gap: 20px;
    width: 100%;
    margin: 0 auto;
    z-index: 1;

    @media (max-width: 1600px) {
      padding-top: 40px;
    }

    @media (max-width: 750px) {
      grid-template-columns: 1fr 1fr;
      gap: 16px;
      padding-top: 96px;
    }
  }

  .cta-btn {
    position: relative;
    z-index: 1;
  }
}

.health-hero-block {
  display: grid;
  justify-items: center;
  width: 100%;
  height: max-content;
  padding: 26px 58px;
  border-radius: 10px;
  border: 1px solid #ffffff17;
  background: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(22px);

  @media (max-width: 950px) {
    padding: 22px 28px;
    height: 100%;
  }

  &__icon {
    margin-bottom: 14px;

    @media (max-width: 950px) {
      width: 24px;
      height: 24px;
    }
  }

  &__value {
    color: $white-text;
    font-family: "Montserrat";
    font-size: 40px;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 6px;

    @media (max-width: 1600px) {
      font-size: 32px;
    }

    @media (max-width: 950px) {
      font-size: 28px;
    }
  }

  &__text {
    color: $gray-text;
    text-align: center;
    font-size: 18px;
    font-weight: 275;
    line-height: 120%;

    @media (max-width: 950px) {
      font-size: 16px;
    }
  }
}