@use './_variables' as *;

html,
body {
  padding: 0;
  margin: 0;
  background-color: $main-bcg;
  color: $white-text;
  font-family: 'Raleway', sans-serif;
}

* {
  box-sizing: border-box;
}

.cta-btn {
  display: flex;
  width: max-content;
  align-items: center;
  padding: 18px 52px 14px;
  color: $black-text;
  text-align: center;
  font-family: "Josefin Sans";
  font-size: 18px;
  font-weight: 700;
  line-height: 120%;
  text-transform: uppercase;
  border-radius: 10px;
  background: $white-text;
  cursor: pointer;
  transition: 0.3s;
  border: none;

  @media (max-width: 750px) {
    font-size: 16px;
    padding: 18px 20px 14px;
  }


  &:hover {
    background-color: $main-color;
    color: $white-text;
  }
}

.section-header {
  display: grid;
  justify-content: center;
  justify-items: center;

  &__tag {
    margin-bottom: 22px;
    color: $second-color;
    text-align: center;
    font-family: Raleway;
    font-size: 20px;
    font-weight: 500;
    line-height: 110%;
    text-transform: uppercase;

    @media (max-width: 950px) {
      font-size: 18px;
      margin-bottom: 20px;
    }

    @media (max-width: 750px) {
      font-size: 16px;
      margin-bottom: 24px;
    }
  }

  &__title {
    max-width: 750px;
    text-align: center;
    font-family: Raleway;
    font-size: 62px;
    font-weight: 800;
    line-height: 110%;
    text-transform: capitalize;
    margin: 0 0 16px;

    @media (max-width: 950px) {
      font-size: 36px;
      max-width: 330px;
    }

    @media (max-width: 750px) {
      font-size: 32px;
    }
  }

  &__subtitle {
    color: $gray-text;
    font-family: Biryani;
    font-size: 18px;
    font-weight: 600;
    line-height: 120%;
    margin-bottom: 86px;
    text-align: center;

    @media (max-width: 950px) {
      font-size: 16px;
      margin-bottom: 56px;
    }

    @media (max-width: 750px) {
      font-size: 14px;
      line-height: 160%;
    }
  }
}

.gradient-text {
  background: linear-gradient(
    269deg,
    $gradient-purple 0%,
    $second-color 30%,
    $gradient-purple 40%,
    $gradient-purple 100%
  );
  background-size: 300% 100%;
  background-position: 100% 0;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradient-flash 10s ease-in-out infinite;
}

@keyframes gradient-flash {
  0%, 60% {
    background-position: 100% 0;
  }

  80% {
    background-position: 0% 0;
  }

  100% {
    background-position: 100% 0;
  }
}

.container {
  max-width: 1400px;
  margin: 0 auto;

  @media (max-width: 1400px) {
    padding: 0 20px;

  }
}